:root {
    --dark: #191818;
    --midark: #2B2A2A;
    --dim: #494848;
    --mid: #ADAAAA;
    --light: #C9C3C3;
    --milight: #E5E1E1;
    --white: #FAF3F3;
    --std: all .2s ease-in-out;
  }
  body {
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light);
    font-size: 2rem;
  }
  button {
    background: none;
    border: 0;
    transition: var(--std);
  }
  button:hover {
    cursor: pointer;
  }
  .card {
    background-color: var(--midark);
    border-radius: 10px;
    width: 48rem;
    height: 42rem;
    transition: var(--std);
    box-shadow: 0 1px 8px rgba(0,0,0,.5);
  }
  .card:hover {
    box-shadow: 0 3px 24px rgba(0,0,0,.25);
  }
  header {
    position: relative;
  }
  header > img {
    border-radius: 7px 7px 0 0;
  }
  header > button {
    background-color: rgba(0,0,0,0.2);
    font-size: 100px;
    color: var(--white);
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path:circle();
  }
  header > button:hover {
    background-color: rgba(0,0,0,0.4);
  }
  header .material-symbols-outlined {
    font-size: 8rem;
    font-variation-settings: 'wght' 300;
  }
  footer {
    padding: 0 1.5rem;
    display: flex;
    height: 13rem;
    flex-direction: column;
    justify-content: space-around;
    color: var(--milight);
  }
  footer button {
    color: var(--mid);
  }
  footer button:hover {
    color: var(--white);
  }
  footer .material-symbols-outlined {
    font-size: 5rem;
    font-variation-settings: 'wght' 200;
  }
  .actions {
    display: flex;
    justify-content: space-between;
  }
  .actions > :last-child {
    margin-left: auto;
  }
  .stats, .tags {
    margin: 0 1rem;
  }
  .stats {
    color: var(--mid);
  }
  .stats > span:not(:first-of-type), .tags > span:not(:first-of-type) {
    display: inline-block;
    margin: auto .5em;
  }
  .likes {
    color:limegreen;
  }
  .rating {
    padding: .2rem .4rem;
    font-size: .8em;
    border: 1px solid var(--mid);
  }
  .quality {
    padding: .05rem 1rem .1rem 1rem;
    font-size: .65em;
    border: 1px solid var(--light);
    border-radius: 4px;
  }
  .tags {
    font-size: .9em;
  }
  .tags > span:not(:last-of-type):after {
    content: "\2022";
    color: var(--mid);
    padding-left: 2rem;
  }